{% extends "base.html" %}
{% block content %}
<br>
<center><h1>Отправка ответа</h1></center>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <center><p style="width: 75%;">
        {{ form.answer.label }}<br>
        {{ form.answer(class="form-control") }}<br>
        {% for error in form.answer.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p></center>
    <p>
        {{ form.answer_images.label }}<br>
        {{ form.answer_images(class="form-control", type="file", id="formFileMultiple", multiple="true") }}<br>
        {% for error in form.answer_images.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <center><p>{{ form.submit(type="submit", class="btn btn-dark") }}</p></center>
</form>
{% endblock %}