{% extends "base.html" %}

{% block content %}
    <br>
    <center><h1>Восстановление пароля</h1></center>
    {% if message %}
        <div class="alert alert-dark" role="alert">
            {{message}}
        </div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email", placeholder="name@example.com") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <center><p>{{ form.submit(type="submit", class="btn btn-dark") }}</p></center>
    </form>
{% endblock %}