{% extends "base.html" %}

{% block content %}
<br>
{% if current_user.admin %}
{% for item in answers %}
    <div class="col-md3 border rounded shadow p-3 bg-body rounded" style="width: 100%; margin-left: -30px;">
        <h2 id="{{item.id}}" style="margin-left: 7px">{{item.test.title}}</h2>
        <div style="font-weight: bold; margin-left: 7px">{{item.user.surname}} {{item.user.name}}</div>
        <pre class="text-break" style="font-size: 19px; margin-left: 7px; white-space: pre-wrap;">
<code>{{item.answer}}</code></pre>
        {% if item.answer_images %}
            <div id="entry{{loop.index0}}" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                    {% set higher_loop = loop.index0 %}
                    {% for j in item.answer_images.split(";;;") %}
                        {% if loop.index0 == 0 %}
                            <button type="button" data-bs-target="#entry{{higher_loop}}" data-bs-slide-to="{{loop.index0}}"
                                    class="active" aria-current="true" aria-label="Slide {{loop.index}}"></button>
                        {% else %}
                            <button type="button" data-bs-target="#entry{{higher_loop}}" data-bs-slide-to="{{loop.index0}}"
                                    aria-label="Slide {{loop.index}}"></button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in item.answer_images.split(";;;") %}
                        {% if loop.index0 == 0 %}
                            <div class="carousel-item active">
                                <center>
                                    <a href="http://licey83narod.ru/static/answers_img/{{image}}" target="_blank">
                                        <img src="../static/answers_img/{{image}}" class="d-block" alt="..." width="900" height="500">
                                    </a>
                                </center>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <center>
                                    <a href="http://licey83narod.ru/static/answers_img/{{image}}" target="_blank">
                                        <img src="../static/answers_img/{{image}}" class="d-block" alt="..." width="900" height="500">
                                    </a>
                                </center>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#entry{{loop.index0}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#entry{{loop.index0}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
      <a class="btn btn-dark" href="/delete_answer/{{item.id}}">Удалить ответ</a>
    </div>
    <br>
{% endfor %}
{% endif %}
{% endblock %}