{% extends "base.html" %}

{% block content %}
<br>
{% if current_user.admin %}
    <a href="/add_test" class="btn btn-secondary">Создать тест</a>
    <a href="/show_answers" class="btn btn-secondary">Посмотреть ответы</a>
    <a href="/tests_api" class="btn btn-secondary">Посмотреть все тесты</a>
{% endif %}
{% for item in tests %}
    <div class="col-md3 border rounded shadow p-3 bg-body rounded" style="width: 75%; margin-left: -30px;">
        <h2 id="{{item.id}}" style="margin-left: 7px">{{item.title}}</h2>
        <p class="text-break" style="font-size: 18px; margin-left: 7px; white-space: pre-line;">
            {{item.content}}
        </p>
        {% if item.images %}
            <div id="entry{{loop.index0}}" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                    {% set higher_loop = loop.index0 %}
                    {% for j in item.images.split(" ") %}
                        {% if loop.index0 == 0 %}
                            <button type="button" data-bs-target="#entry{{higher_loop}}" data-bs-slide-to="{{loop.index0}}"
                                    class="active" aria-current="true" aria-label="Slide {{loop.index}}"></button>
                        {% else %}
                            <button type="button" data-bs-target="#entry{{higher_loop}}" data-bs-slide-to="{{loop.index0}}"
                                    aria-label="Slide {{loop.index}}"></button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in item.images.split(" ") %}
                        {% if loop.index0 == 0 %}
                            <div class="carousel-item active">
                                <center>
                                    <a href="http://licey83narod.ru/static/test_img/{{image}}" target="_blank">
                                        <img src="../static/test_img/{{image}}" class="d-block" alt="..." width="900" height="500">
                                    </a>
                                </center>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <center>
                                    <a href="http://licey83narod.ru/static/test_img/{{image}}" target="_blank">
                                        <img src="../static/test_img/{{image}}" class="d-block" alt="..." width="900" height="500">
                                    </a>
                                </center>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#entry{{loop.index0}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#entry{{loop.index0}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
        <a class="btn btn-primary" href="/answer_test/{{item.id}}">Перейти к ответу</a>
        {% if current_user.admin %}
            <a class="btn btn-dark" href="/edit_test/{{item.id}}">Изменить тест</a>
            <a class="btn btn-dark" href="/delete_test/{{item.id}}">Удалить тест</a>
        {% endif %}
    </div>
    <br>
{% endfor %}
{% endblock %}